<ng-container *ngIf="(todoService.state$ | async) as state">
  <div
    id="pageContainer"
    cdkDropList
    (cdkDropListDropped)="moveTodoItem($event)"
  >
    <div id="header">
      <h2>Todo List</h2>

      <button
        (click)="createTodo()"
        [disabled]="state.loading"
      >
        <i class="fas fa-plus"></i>

        New
      </button>
    </div>


    <app-todo-item
      *ngFor="let todo of state.data"
      [todo]="todo"
      (updated)="updateTodo($event)"
      (deleted)="deleteTodo($event)"
      appDisabledOverlay
      [disabled]="state.loading"
      [cdkDragDisabled]="state.loading"
      cdkDrag
    ></app-todo-item>

    <div
      id="noTodos"
      *ngIf="!state.data || state.data.length === 0"
    >
      No todos found.
    </div>

    <!-- Loading template when a todo is being modified, deleted, or created -->
    <div
      class="loading-view"
      *ngIf="state.loading"
    >
      Loading...
    </div>

  </div>

  <!-- loading template view -->
  <ng-template #loading>
    <div class="loading-view">Loading...</div>
  </ng-template>
</ng-container>